.product-discount{
    display: inline-block!important;
    font-weight: 400;
    text-decoration: line-through;
    font-size: 18px;
    color: #b2b2b2;
    margin-bottom: 18px;
}

.no-border {
    border: none;
}

.shoping__cart__table table tbody tr td.shoping__cart__quantity .cart-qty {
    width: 120px;
    height: 40px;
}

.shoping__cart__table table tbody tr td.shoping__cart__quantity .cart-qty .qtybtn {
    width: 15px;
}

.cart-qty {
    width: 140px;
    height: 50px;
    display: inline-block;
    position: relative;
    text-align: center;
    background: #f5f5f5;
    margin-bottom: 5px;
}

.cart-qty .qtybtn {
    width: 35px;
    font-size: 16px;
    color: #6f6f6f;
    cursor: pointer;
    display: inline-block;
}

.cart-qty input {
    height: 100%;
    width: 100%;
    font-size: 16px;
    color: #6f6f6f;
    width: 50px;
    border: none;
    background: #f5f5f5;
    text-align: center;
}

.error {
    color : red;
}

.has-error{
    border-color: red!important;
}

.contact-form form input {
    margin-bottom: 0px!important;
}

.contact-custom{
    margin-bottom: 30px!important;
}

.product-search{
    width: 100%;
    height: 46px;
    font-size: 16px;
    color: #6f6f6f;
    padding-left: 15px;
    border: 1px solid #e1e1e1;
    border-radius: 15px;
}

.checkout__input__radio {
    margin-bottom: 10px;
}

.checkout__input__radio label {
    position: relative;
    font-size: 16px;
    color: #1c1c1c;
    cursor: pointer;
}

.checkout__input__radio span:last-child {
    padding-left: 40px;
}

.checkout__input__radio p span:last-child {
    padding-left: 0px;
    color: #dd2222;
}

.list-active a{
    background: red!important;
    border-color: red!important;
    color: #ffffff!important;
    transform: rotate(360deg);
}

.list-active:hover a{
    background: red!important;
    border-color: red!important;
    color: #ffffff !important;
    transform: rotate(360deg);
}

.cart-active a {
    background: red!important;
    border-color: red!important;
    color: #ffffff !important;
    transform: rotate(360deg);
}

.cart-active:hover a {
    background: red!important;
    border-color: red!important;
    color: #ffffff !important;
    transform: rotate(360deg);
}

.danger {
    color: red!important;
}

.input-danger {
    border-color: red!important;
}

.text-center {
    text-align: center;
}

.padding {
    padding: 2rem !important
}

.card {
    margin-bottom: 30px;
    border: none;
    -webkit-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    -moz-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22)
}

.card-header {
    background-color: #fff;
    border-bottom: 1px solid #e6e6f2
}

h3 {
    font-size: 20px
}

h5 {
    font-size: 15px;
    line-height: 26px;
    color: #3d405c;
    margin: 0px 0px 15px 0px;
    font-family: 'Circular Std Medium'
}

.text-dark {
    color: #3d405c !important
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.label-success {
    background-color: green;
}

.label-primary {
    background-color: blue;
}

.label-warning {
    background-color: yellow;
}
.label-danger {
    background-color: red;
}

.view-pdf {
    padding: 4px;
    color: #f28e1c;
}

.download-pdf {
    padding: 4px;
    color: #f28e1c;
}

.display-block span {
    display: block;
}

.out-of-stock {
    background: #f28e1c;
    color: white;
    padding: 0px 16px;
}


