.product-discount{
    display: inline-block!important;
    font-weight: 400;
    text-decoration: line-through;
    font-size: 18px;
    color: #b2b2b2;
    margin-bottom: 18px;
}

.no-border {
    border: none;
}

.shoping__cart__table table tbody tr td.shoping__cart__quantity .cart-qty {
    width: 120px;
    height: 40px;
}

.shoping__cart__table table tbody tr td.shoping__cart__quantity .cart-qty .qtybtn {
    width: 15px;
}

.cart-qty {
    width: 140px;
    height: 50px;
    display: inline-block;
    position: relative;
    text-align: center;
    background: #f5f5f5;
    margin-bottom: 5px;
}

.cart-qty .qtybtn {
    width: 35px;
    font-size: 16px;
    color: #6f6f6f;
    cursor: pointer;
    display: inline-block;
}

.cart-qty input {
    height: 100%;
    width: 100%;
    font-size: 16px;
    color: #6f6f6f;
    width: 50px;
    border: none;
    background: #f5f5f5;
    text-align: center;
}

.error {
    color : red;
}

.has-error{
    border-color: red!important;
}

.contact-form form input {
    margin-bottom: 0px!important;
}

.contact-custom{
    margin-bottom: 30px!important;
}
